@{
    ViewData["Title"] = "Home Page";
}
@if (Context.User.Identity.Name == "UserAdmin")
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Управление пользователями</a>
}